requests
beautifulsoup4
chardet
wxpusher
jieba
matplotlib
WordCloud
spacy>=3.7.0  # 确保版本与模型兼容
https://github.com/explosion/spacy-models/releases/download/zh_core_web_sm-3.7.0/zh_core_web_sm-3.7.0-py3-none-any.whl
textrank4zh